.header{
    padding: 20px 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2196f3e0;
    color: #FFF;
}

h1{
    width: 20%;
    text-transform: capitalize;
}